@model IEnumerable<Factura>
    <a asp-controller="Bill"
            asp-action="Index"
            type="button" class="btn btn-primary">
    Add new invoice
    </a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ID Locatie</th>
            <th scope="col">Nr Factura</th>
            <th scope="col">Data</th>
            <th scope="col">Client</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var factura in Model)
        {
            <tr>
                <th scope="row">@factura.IdFactura</th>
                <td>@factura.IdLocatie</td>
                <td>@factura.NumarFactura</td>
                <td>@factura.DataFactura</td>
                <td>@factura.NumeClient</td>
            </tr>
        }
        </tbody>
</table>

